* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pizza-img img {
  width: 12rem;
  aspect-ratio: 1;
  align-self: start;
}

.pizza-card.sold-out {
  color: #888;
}

.pizza-card.sold-out img {
  filter: grayscale();
  opacity: 0.8;
}
